{% extends 'base.html' %}

{% block content %}
<div id="index">
  <p>Click on a quadrant to find establishments within that region:</p>
  <img src="/static/img/map.png" alt="Map" usemap="#regionmap">
  <map name="regionmap">
    <area shape="rect" coords="18,21,495,402" alt="North Quadrant" href="/eatup/north">
    <area shape="rect" coords="528,21,876,402" alt="East Quadrant" href="/eatup/east">
    <area shape="rect" coords="528,444,876,888" alt="South Quadrant" href="/eatup/south">
    <area shape="rect" coords="18,444,495,888" alt="West Quadrant" href="/eatup/west">
  </map>
  <br><br>
  <p>Alternatively, use the buttons below:</p>
  <div id="index-buttons">
    <div class="d-grid gap-2 d-md-block" style="padding-bottom: 5px;">
      <button class="btn btn-lg" type="button" onclick="window.location.href='/eatup/north';" style="background-color:#FFADAD;">
        North
      </button>
      <button class="btn btn-lg" type="button" onclick="window.location.href='/eatup/east';" style="background-color:#FDFFB6;">
        East
      </button>
    </div>
    <div class="d-grid gap-2 d-md-block">
      <button class="btn btn-lg" type="button" onclick="window.location.href='/eatup/west';" style="background-color:#9BF6FF;">
        West
      </button>
      <button class="btn btn-lg" type="button" onclick="window.location.href='/eatup/south';" style="background-color:#FFC6FF;">
        South
    </button>
    </div>
  </div>
</div>
{% endblock %}